<nav class="navbar navbar-expand-lg bg-inverse">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <a class="navbar-brand" href="#">Demos</a>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['user','10']">User</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>