<div [ngClass]="alert" class="alert alert-success" role="alert">
    A simple success alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alert = 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'">Success</button>
<br><br>
<h3 [ngClass]="{ 'text-danger': properties.danger, 'text-info': !properties.danger }">
    Hi Ax & Mar
</h3>

<button (click)="properties.danger = !properties.danger"
        type="button"
        name="button"
        class="btn"
        [ngClass]="{ 'btn-danger': properties.danger, 'btn-info': !properties.danger }">
    Cambiar
</button>
<br><br>
<h3>Proceso Asíncrono</h3>
<button (click)="execute()"
        class="btn btn-primary"
        type="button"
        name="button"
        [disabled]="loading">
    <i [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading}"
        class="fa fa-refresh fa-spin"> </i>
    <span *ngIf="!loading">Guardar cambios</span>
    <span *ngIf="loading">Espere por favor</span>
</button>